Library
Temp
Assets/OVR
Assets/Moonlight
Assets/Plugins
Assets/OVR.meta
Assets/Plugins.meta
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
oculus-platform-helper-csharp.sln
oculus-platform-helper.sln
oculus-platform-helper.userprefs
sdk-dk2.unitypackage
sdk-gearvr.unityPackage
Assets/Moonlight.meta
Assets/PlatformChangeBackup.unity
Assets/PlatformChangeBackup.unity.meta